$font__headings: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
$font__body: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;

$font__xxs-size: 0.7rem; // 11.2px
$font__xs-size: 0.75rem; // 12px
$font__sm-size: 0.8125rem; // 13px
$font__base-size: 1rem;

$font__base-line-height: 1.5;

$font__h1-sm-size: 1.75rem; // 28px
$font__h1-base-size: 2rem; // 32px

$font__h2-sm-size: 1.5rem; // 24px
$font__h2-base-size: 1.75rem; // 28px

$font__h3-sm-size: 1.375rem; // 22px
$font__h3-base-size: 1.5rem; // 24px

$font__h4-sm-size: 1.1875rem; // 19px
$font__h4-base-size: 1.25rem; // 20px

$font__h5-sm-size: 1.0625rem; // 17px
$font__h5-base-size: 1.125rem; // 18px

$font__h6-sm-size: 1rem; // 16px
$font__h6-base-size: 1.0625rem; // 17px

$font__headings-line-height: 1.2;

$font__pre-base-line-height: 1.6;
