h1,
h2,
h3,
h4 {
    color: $color__headings;
    font-family: $font__headings;
    margin-top: 0;
}

h5,
h6 {
    color: $color__headings;
    font-family: $font__body;
    margin-top: 0;
}

h1 {
    clear: both;
    font-size: $font__h1-sm-size; //28px
    font-weight: 500;
    line-height: $font__headings-line-height;
    margin-bottom: 1.875rem;;

    @media (min-width: $md) {
        font-size: $font__h1-base-size; //32px
        margin-bottom: 3.125rem;
    }
    .title {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: $font__h2-sm-size; //24px
    font-weight: 500;
    line-height: $font__headings-line-height;
    margin-bottom: 1.875rem;

    @media (min-width: $md) {
        font-size: $font__h2-base-size; //28px
    }
}

h3 {
    font-size: $font__h3-sm-size; //22px
    font-weight: 400;
    line-height: $font__headings-line-height;
    margin-bottom: 1.875rem;

    @media (min-width: $md) {
        font-size: $font__h3-base-size; //24px
    }
}

h4 {
    font-size: $font__h4-sm-size; //19px
    font-weight: 400;
    line-height: $font__headings-line-height;
    margin-bottom: 1.75rem;

    @media (min-width: $md) {
        font-size: $font__h4-base-size; //20px
    }
}

h5 {
    font-size: $font__h5-sm-size; //17px
    font-weight: 600;
    line-height: $font__headings-line-height;
    margin-bottom: 1.4rem;

    @media (min-width: $md) {
        font-size: $font__h5-base-size; //18px
    }
}

h6 {
    font-size: $font__h6-sm-size; //16px
    font-weight: 600;
    line-height: $font__headings-line-height;
    margin-bottom: 1rem;

    @media (min-width: $md) {
        font-size: $font__h6-base-size; //17px
    }
}
