.main-header__user-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 2px 8px;
    background-color: $color__gray-95;
    border-radius: 4px;
    line-height: 1 !important;

    .user-account-link {
        line-height: 0;

        .material-symbols-outlined {
            transition: font-variation-settings 0.2s ease;
        }

        &:hover .material-symbols-outlined,
        &:focus .material-symbols-outlined {
            font-variation-settings: 'FILL' 1;
        }
    }

    .user-bar__icon {
        font-size: 40px;
        color: $color__gray-40;
        flex-shrink: 0;
    }

    .user-bar__info {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;
    }

    .user-bar__name {
        font-size: 0.875rem;
        font-weight: 500;
        color: $color__main-text;
        line-height: 1.2;
    }

    .user-bar__logout {
        font-size: 0.6rem;
        padding: 2px 4px;
        text-decoration: none;
        background-color: var(--primary);
        color: var(--primary-contrast);
        border-radius: 3px;
        transition: background-color 0.2s ease;
        margin-left: auto;

        &:hover,
        &:focus {
            background-color: var(--primary-dark);
        }
    }

    @media (max-width: $lg) {
        display: none;
    }
}
