.resource-grid {
	list-style: none;
    padding-left: 0;
    position: relative;

    .resource {
        background-color: $color__white;
        border: $color__hr;
        box-shadow: 0px 1px 6px rgba($color__black, 0.25);
        position: absolute;
        height: 320px;
        border-radius: 6px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &::before {
            content: none !important;
        }

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
        }

        &__thumbnail {
            line-height: 1;
            height: 200px; /* Alto del contenedor */
            overflow: hidden; /* Oculta las partes que se salen */
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            img {
                height: 200px;
                object-fit: cover;
                width: 100%;
            }
        }

        &__content {
            padding: 15px;
        }

        &__meta {
            padding: 5px 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* Limita a 3 líneas */
            line-clamp: 2; /* Para mayor compatibilidad con navegadores más nuevos */
            text-overflow: ellipsis;
            a {
                text-decoration: none;
            } 
        }
    }
}
